@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
}

.icon-container {
    transition: transform 0.4s ease-in-out;
}

.rotate {
    transform: rotate(360deg);
}